week-3/04-course-app-hard/node_modules
week-4/03-hard-course-selling-app-user-side/src/assets
week-4/04-hard-use-mui/node_modules
week-4/04-hard-use-mui/src/assets
week-4/04-hard-use-mui/public
week-7/assignment-1/node_modules
week-7/assignment-1/secret.ts
week-7/assignment-1/dist
week-7/temp-assignment-2/node_modules
course-app/server/secrets.ts
course-app/server/dist/secrets.ts
course-app/server/node_modules
course-app/client/node_modules